<h1>{{title}}</h1>
<ul>
    {{#people}}
        <li>
            <h3>Name: {{name}} </h3>
            <h2>Age: {{age}} </h2>
            <h2>Email: {{email}} </h2>
            <h2>Some change alright!</h2>
            <h3 style="color:red">Next change</h3>
        </li>
    {{/people}}
</ul>