<link rel="stylesheet" href="./styles/addIngs.css">
<link rel="stylesheet" href="./styles/set1.css">

<div class="container" id="donateForm">
    <ul id="listaTabovi" class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#indiv">Индивидуа</a></li>
        <li><a data-toggle="pill" href="#komp" >Компанија</a></li>
    </ul>

    <div class="tab-content">
        <div id="indiv" class="tab-pane fade in active col-lg-12">
            <form id="donirajForma" class="forma" onsubmit="onActionForm1(event)">
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-1"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-1">
						<span class="input__label-content input__label-content--hoshi">Име :</span>
					</label>
				</span>
                <br>
                <h6 id="warning1" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-2"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-2">
						<span class="input__label-content input__label-content--hoshi">Презиме :</span>
					</label>
				</span>
                <br>
                <h6 id="warning2" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="number" id="input-3"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-3">
						<span class="input__label-content input__label-content--hoshi">Тел. Број :</span>
					</label>
				</span>
                <br>
                <h6 id="warning3" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="email" id="input-4"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
						<span class="input__label-content input__label-content--hoshi">Е-Маил :</span>
					</label>
				</span>
                <br>
                <h6 id="warning4" style="display:none;">Полето е задолжително!</h6>

                <br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Одбери датум
                </button>

                <div class="collapse" id="collapseExample">
                    <div class="well well-sm ">
                        <div class="list-group">
                            <ul class="list-group" id="listaDatumi1">
                                <li class="list-group-item">First item</li>
                                <li class="list-group-item">Second item</li>
                                <li class="list-group-item">Third item</li>
                            </ul>
                        </div>
                    </div>
                </div>
                        <h6 id="warning5" style="display:none;">Немате одбрано датум!</h6>
                <br>
                <br>
                <label>Донирај :</label>
                <div class="checkbox">
                    <label><input type="checkbox" id="kopceNam" onchange="checkbox1Change()" >Намирници</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="kopceGot" onchange="checkbox2Change()">Готова Храна</label>
                </div>
                <h6 id="warning6" style="display:none;">Немате донирано ништо!</h6>
                <div id="listaNam" style="display:none;">
                    <ul>
                        <li>
                            <table id="tableNam">
                                <tr>
                                    <td class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="email" id="input-10"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="input-10">
                                            <span class="input__label-content input__label-content--hoshi">Име :</span>
                                        </label>
                                    </td>
                                    <td class="input input--hoshi kolicina">
                                        <input class="input__field input__field--hoshi " type="number" id="input-20"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1 kolicina"
                                               for="input-20">
                                            <span class="input__label-content input__label-content--hoshi">Количина :</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <button id="addNamir" onclick="dodadiHrana1()">Додади намирници</button>
                </div>
                <div id="listaGot" style="display:none;">
                    <ul>
                        <li>
                            <table id="tableGot">
                                <tr>
                                    <td class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="email" id="input-30"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="input-30">
                                            <span class="input__label-content input__label-content--hoshi">Храна :</span>
                                        </label>
                                    </td>
                                    <td class="input input--hoshi kolicina">
                                        <input class="input__field input__field--hoshi" type="number" id="input-40"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1 kolicina"
                                               for="input-40">
                                            <span class="input__label-content input__label-content--hoshi">Количина :</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <button id="addHrana">Додади храна</button>
                </div>
                <br>
                <button class="btn btn-default" id="kopceForma1" onclick="dodadiHrana2()">Submit</button>
            </form>
        </div>
        <div id="komp" class="tab-pane fade col-lg-12">
            <form class="forma" onsubmit="onActionForm2(event)">
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-5"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
						<span class="input__label-content input__label-content--hoshi">Име :</span>
					</label>
				</span><br>
                <h6 id="warning7" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-6"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-6">
						<span class="input__label-content input__label-content--hoshi">Адреса :</span>
					</label>
				</span><br>
                <h6 id="warning8" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="number" id="input-7"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-7">
						<span class="input__label-content input__label-content--hoshi">Тел. Број :</span>
					</label>
				</span><br>
                <h6 id="warning9" style="display:none;">Полето е задолжително!</h6>
                <span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="email" id="input-8"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-8">
						<span class="input__label-content input__label-content--hoshi">Е-Маил :</span>
					</label>
				</span>
                <br><br>
                <h6 id="warning10" style="display:none;">Полето е задолжително!</h6>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kalendar2"
                        aria-expanded="false" aria-controls="kalendar2">
                    Одбери датум
                </button>
                <div class="collapse" id="kalendar2">
                    <div class="well well-sm">
                        <ul class="list-group" id="listaDatumi">
                            <li><a href="#" class="list-group-item">First item</a></li>
                            <li><a href="#" class="list-group-item">Second item</a></li>
                            <li><a href="#" class="list-group-item">Third item</a></li>
                        </ul>
                    </div>
                </div>
                <br><br>
                <h6 id="warning11" style="display:none;">Немате одбрано датум!</h6>
                <label>Донирај :</label>
                <div class="checkbox">
                    <label><input type="checkbox" value="" id="kopceNamKom" onclick="checkbox3Change()">Намирници</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="" id="kopceGotKom" onclick="checkbox4Change()">Готова Храна</label>
                </div>
                <h6 id="warning12" style="display:none;">Немате донирано ништо!</h6>
                <div id="listaNamKom" style="display:none;">
                    <ul>
                        <li>
                            <table id="tableNamKom">
                                <tr>
                                    <td class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="input-22"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="input-22">
                                            <span class="input__label-content input__label-content--hoshi">Храна :</span>
                                        </label>
                                    </td>
                                    <td class="input input--hoshi kolicina">
                                        <input class="input__field input__field--hoshi" type="number" id="input-33"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1 kolicina"
                                               for="input-33">
                                            <span class="input__label-content input__label-content--hoshi">Количина :</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <button id="addNamirKom" onclick="dodadiHrana3()">Додади намирници</button>
                </div>
                <div id="listaGotKom" style="display:none;">
                    <ul>
                        <li>
                            <table id="tableGotKom">
                                <tr>
                                    <td class="input input--hoshi">
                                        <input class="input__field input__field--hoshi" type="text" id="input-44"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="input-44">
                                            <span class="input__label-content input__label-content--hoshi">Храна :</span>
                                        </label>
                                    </td>
                                    <td class="input input--hoshi kolicina">
                                        <input class="input__field input__field--hoshi" type="number" id="input-55"/>
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1 kolicina"
                                               for="input-55">
                                            <span class="input__label-content input__label-content--hoshi">Количина :</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <button id="addHranaKom" onclick="dodadiHrana4()">Додади храна</button>
                </div>
                <br>
                <button type="submit" class="btn btn-default" id="kopceForma2">Submit</button>
            </form>
        </div>
    </div>
</div>

