<div class="row">
<img src="img/2.jpg" class="main-img">
    <div class="buttons-group">
      <div class="btn-postion">
        <button class="btn btns-style doniraj-btn">ДОНИРАЈ</button>
      </div>
      <div>
         <button class="btn btns-style zgotvi-btn">ЗГОТВИ</button>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 steps-title-style">
         Како функционираме?
    </div>
</div>
<div class="row imgs-pos">

        <div class="col-md-2">
            <img src="img/steps/1.png" class="img-steps-style" >
            <p class="step-txt">Пријави се</p>
        </div>
        <div class="col-md-2">
            <img src="img/steps/2.png" class="img-steps-style" >
            <p class="step-txt">Подготви ги намирниците</p>
        </div>
        <div class="col-md-2">
            <img src="img/steps/3.png" class="img-steps-style" >
            <p class="step-txt">Донирај</p>
        </div>
        <div class="col-md-2">
            <img src="img/steps/4.png" class="img-steps-style" >
            <p class="step-txt">Зготви</p>
        </div>
        <div class="col-md-2">
            <img src="img/steps/5.png" class="img-steps-style" >
            <p class="step-txt">Сподели оброк</p>
        </div>
    </div>