<div class="buttons-group">
  <div class="btn-postion">
    <button class="btn btns-style doniraj-btn">ДОНИРАЈ</button>
  </div>
  <div>
     <button class="btn btns-style zgotvi-btn">ЗГОТВИ</button>
  </div>
</div>