.main-padding {
    padding: 40px 200px 40px 265px;
}

.rows-padding {
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: auto;
    }
}

/* preku edna kocka */
.about-cells-1 {
    height: 100%;
    width: 160px;
    background-color: #d35b00;
    border-radius: 10px;
}
/* preku dve kocki */
.about-cells-2 {
    height: 100%;
    width: 327px;
    background-color: #f78e04;
    border-radius: 10px;
}

.about-img-1 {
    /*height: 150px;*/
    /*width: 160px;*/
    opacity: 0.8;
}

.elements-margin {
    padding-left: 0px;
    margin-left: 7px;
}

.text-style {
    font-size: 14px;
    padding-left: 4px;
    padding-top: 5px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.text-style-last {
    font-size: 14px;
    padding-left: 4px;
    padding-top: 5px;
    color: white;
}

.main-words {
    font-size: 20px;
}

@media (min-width: 992px) {
    .col-md-3 {
         /*width: 1%;*/
    }
}

.about-text {
    padding: 30px;
}

/* centered columns */
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.container.main-padding {
    padding-left: 200px;
}


