.table > tbody + tbody {
     border: 2px solid #ddd;
 }

.calendar-cell {
    border: 1px solid gray;
    padding: 10px;
}

table {
    table-layout: fixed;
    empty-cells: show;
    text-align: center;
    font-weight: bold;
}

thead {
    text-align: center;
}

td {
    width: 90px;
    height: 90px

}

#title {
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
}

#month {
    font-size: 20px;;
}

.container{
    position: relative;
}

.row-date{
    position: absolute;
    top: 2px;
    left: 5px;
}


body { padding: 1em; }
* { box-sizing: border-box; -moz-box-sizing: border-box; }
.grid { border: 1px solid gray; }
.row { overflow: auto; }

.cell {
    /*width: 20%;*/
    float: left;
    border: 1px solid gray;
    padding: 1em;
}

.row-calendar{
    padding-bottom: 30px;
}

.data-cell-0{
    background-color: #00aced;
    color:white;
    cursor:pointer;
}

.data-cell-1{
    background-color: #eb4533;
    color:white;
    cursor:pointer;
}

.data-cell-2 {
    background-color: #ed8922;
    color:white;
    cursor: pointer;
}
.data-cell:hover{
    /*background-color: #424242;*/
    /*color:white;*/
}

.list-group-item:hover{
    /*background-color: #424242;*/
    /*color:white;*/
}

thead {
    color: white;
    background-color: #424242;
}

tbody {
    background-color: white;
}

#first:hover {
    background-color: #424242;
    color:white;
}

#second:hover {
    background-color: #333;
    color:white;
}

#third:hover {
    background-color: #333;
    color:white;
}

.list-group-item{
    cursor:pointer;
    font-weight: bold;
}

h1#month {
    text-align: center;
    font-size: 7vh;
}