/* Buttons */
.btns-style {
    color: wheat;
    border-radius: 0px;
    width: 220px;
    height: 40px;
    font-size: 16px;
}

.doniraj-btn {
    background-color: rgba(236, 240, 241, 0);
    color: #fcf8e3;
    border: 3px solid #c0392b;
}

.doniraj-btn:hover {
    background-color: #c0392b;
    color: #fcf8e3;
}

.zgotvi-btn {
    background-color: #c0392b;
}

.zgotvi-btn:hover {
    background-color:#d03f2f;
    color: white;
}

.btn-postion {
    padding-bottom: 20px;
}

.buttons-group {
    height: 200px;
    text-align: left;
    padding: 120px 150px 0px 150px;
}

.row-position {
    margin: 240px 0px 40px 30px;
}

/* Steps */
.step-txt {
    color: #34495e;
    text-align: center;
}

.imgs-pos {
    height: 280px;
    padding: 0px 0px 80px 160px;
}

.img-steps-style {
    width: 160px;
    height: 130px;
    opacity: 0.8;
}

.img-steps-style:hover {
    zoom: 150%;
    opacity: 0.9;
}


.steps-title-style {
    font-size: 25px;
    color: #ac2925;
    padding-left: 100px;
}

/* Main image */
.main-img {
    width: 100%;
    height: 450px;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}